extends base.pug

block script 
    script(src="../static/script/home.js") 

block style 
    style 
        include ../static/style/about.css

block content
    section#about 
        h2.section_heading About Me 
        p.section_description Hey there folks!!<br> I am Sophomore Undergrad at IITK in Department of Electrical Enginnering. <br><br> You will find me quite shy, introvert and disciplined at the first meet, but once we start meeting more frequently, I might appear to be the most humorous person you would ever find!! (that's what she said :') )<br><br>
        div.cards
            div.card
                h3 History 
                div.card-box
                    div.card-img 
                        img(src="../static/images/card_1_history.jpg", alt="Time flies;p")
                    div.card-content
                        p I was born on 16th March,2003, in Meerut U.P., and have stayed in the same place since then..<br> Monotonicity at its peak!!<br><br> I did my coaching for JEE from FIITJEE Meerut(deep thanks to the teachers), and my schooling from St. John's.
            div.card
                h3 Interests and Hobbies
                div.card-box
                    div.card-img 
                        img(src="../static/images/card_2_hobbies.jpg", alt="time pass stuff;p")
                    div.card-content 
                        p Talk of football and I'm there, not to play, but to watch and discuss, and so I have been called 'Football Freak' by my friends. <br><br>Well I have a clean hand at painting (I paint sometimes), and a voice good enough for singing (my sis and I had plans to start a band if things wouldn't work out right XD).<br><br>I like cycling and playing badminton and might want to learn Swimming when I reach the campus.
            div.card
                h3 Acads/ Achievements
                div.card-box
                    div.card-img 
                        img(src="../static/images/card_3_achievements.jpg", alt="time pass stuff;p")
                    div.card-content
                        p "AGLA SEM PHODENGE!!"<br> Something I realised after my first sem and the feeling of which is getting deeper as I am advancing to my 4th sem in a year and a month.<br> Well after receiving 3 different letter grades in my first three sem, I have managed a decent CPI (as my friends say).<br><br> Talking of achievements, I am two times KVPY scholar, have qualified NSEP 2019-20 and ofcourse have joined IITK (JEE-ADV man!!).
        
        p.section_description <b>P.S.</b> Some ice-breakers with me would be to talk about Harry Potter, MCU, DC, football, GOT, Pirates of the Carribean and TBBT(my fav one;)) You can give me brownie points later if it helps:)
