extends base.pug

block script 
    script(src="../static/script/blogs.js") 

block style 
    style 
        include ../static/style/blogs.css

block content 
    section#blogs 
        p Well it appears you really don't follow the warnings XD!!<br> Nothing to show for now:(<br> Visit next time to read something interesting!!:)