<!DOCTYPE html>
<html lang="en">
    
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shivam's World</title>
    <link rel="stylesheet" href="../static/style/base.css">
    <link rel="stylesheet" href="../static/style/works.css">
</head>

<body>
    <div class="container">
        <nav id="navbar" class="topnav">
            <ul>
                <li><a href="../">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="works.html">Projects and Works</a></li>
                <li><a href="blogs.html">Blogs</a></li>
                <li><a href="../#contact">Contact</a></li>
            </ul>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"><img src="../static/images/hamburger.png" alt=""></i>
              </a>
        </nav>
        <section id="projects">
            <h2 class="section_heading">Projects</h2>
            <div class="cards">
                <div class="card" id="cv"><button type="button" class="collapsible">Computer Vision - Stamatics
                    </button>
                    <div class="content">
                        <div class="card-box">
                            <div class="card-content">
                                <p>This was an introductory project covering all aspects on CV from it's history to
                                    modern DL based approaches. I did this project in my 2nd sem. The project covered
                                    basics like resizing, cropping, rotating an image and further, applying filters in
                                    an image to obtain its various properties, use of Canny edge detector for detecting
                                    edges, hog filters for finding similar patterns, using hog and parts based approach
                                    for detecting an image and finally use of DL and CNN to detect numbers in an image.
                                    <br>We finally did a group project on face recognition system using
                                    MTCNN.<br><br>This was the project which introduced me to the world of CV, which I
                                    am always enthusiastic to explore!!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" id="yolo"><button type="button" class="collapsible">YoloV4 and ROS integration -
                        AUV</button>
                    <div class="content">
                        <div class="card-box">
                            <div class="card-content">
                                <p>Well I'm currently working on this project under Team AUV-IITK. We had to make a
                                    custom dataset of underwater images in YoloV4 format and train the YoloV4 model on
                                    this dataset. The major focus of the project is to integrate YoloV4 with ROS to
                                    implement it in our new AUV. Till now we had been using YoloV3 which gave pretty
                                    good results but wh not better!! After examining the speed and accuracy of YoloV4,
                                    we started working on this project and might soon find our way.<br><br> For those
                                    who don't know the acronyms,<br>Yolo: You Only Look Once<br>ROS: Robot Operating
                                    System<br>AUV: Autonomous Underwater Vehicle.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" id="web_dev"><button type="button" class="collapsible">Web Development</button>
                    <div class="content">
                        <div class="card-box">
                            <div class="card-content">
                                <p>I started learning web dev around the near end of my 2nd sem in June,2021. This
                                    project was not under any official organisation but I learned this from a YT
                                    playlist by @codewithharry. The course was divided into learning HTML, CSS and JS
                                    for web dev, using node.js for backend and Express as the framework, and further
                                    storing data from website into a database (MongoDB in our case) and last of all
                                    hosting the site.<br><br> This website could be considered the end-project of the
                                    course ;p</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="clubs_and_teams">
            <h2 class="section_heading">TEAMS</h2>
            <div class="cards">
                <div class="card" id="auv"><button type="button" class="collapsible">Member of Software Subsystem -
                        AUV</button>
                    <div class="content">
                        <div class="card-box">
                            <div class="card-content">
                                <p>AUV is a team under SnT Council IITK. It is a group of Undergrads working together to
                                    build AUV and participate in various national and international competitions. We
                                    work on improvising our AUV by implementing various robotic tools and research
                                    papers, and running tests to test the results of the implementations. <br><br>Well
                                    for me, it is one of the coolest thing one can do in IITK.<br><br> <a
                                        href="https://auv.sntiitk.in/#/landing-page" target="_blank">Click here to visit
                                        AUV-IITK website.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="websites">
            <h2 class="section_heading">Website</h2>
            <div class="cards">
                <div class="card" id="website"><button type="button" class="collapsible">The one you are surfing
                        ;p</button>
                    <div class="content">
                        <div class="card-box">
                            <div class="card-content">
                                <p>This website was created in the end-sem vacations of my 3rd sem in Dec, 2021. I made
                                    this website from scratch in a one-week timeframe(had other stuff to do:0).<br><br>
                                    I used 'Express' for the framework of the site, and 'Pug' and 'CSS' for writing the
                                    basic structure and designing respectively.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="volunteer">
            <h2 class="section_heading">Volunteering</h2>
            <div class="cards">
                <div class="card" id="sg"><button type="button" class="collapsible">Student Guide - CS IITK</button>
                    <div class="content">
                        <div class="card-box">
                            <div class="card-content">
                                <p>I am an SG (Student Guide) at CS (Counselling Service) IITK. I along with my fellow
                                    SGs voluteered to help UG-Y21 batch with their registration process and Orientation
                                    for their first academic year at IITK.<br> <br> Well there is always more to to the
                                    definition of this role, but this should suffice for now.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" id="am"><button type="button" class="collapsible">Academic Mentor ESC101A - CS
                        IITK</button>
                    <div class="content">
                        <div class="card-box">
                            <div class="card-content">
                                <p>I am an AM (Academic Mentor) for ESC101A(Fundamentals of Computing) for UG-Y21 at
                                    CS,IITK.<br><br> Being an AM, I help peeps of Y21 batch with questions related to ESC101,
                                    which could be anything from general guidance on how to score good in the subject to
                                    helping them in debugging error or explaining them in what way to proceed in a
                                    question, they feel unsolvable.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer id="footer">
            <p>Designed and developed by Shivam Singhal | &#169; All rights reserved</p>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="../static/script/base.js"> </script>
    <script src="../static/script/works.js"> </script>
</body>

</html>